<!-- START BREADCRUMB -->
<div class="col-md-6 mini-dash-left">
    <ul class="breadcrumb breadcrumb-dashboard">
        <li><a href="#">Home</a></li>
        <li class="active">Settings</li>
    </ul>
</div>
<div class="col-md-6  text-right mini-dash-right">
    <div ng-include="'components/minidash/minidash.html'"></div>
</div>
<!-- END BREADCRUMB -->

<div class="page-title">
    <h2>Settings</h2>
</div>

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            
            <form class="form-horizontal" name="form" ng-submit="changeSlogan(form)">
            <div class="panel panel-default" ng-class="languageToggle">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Team:</strong> {{team().name}}</h3>
                    <ul class="panel-controls">
                        <li><a href="#" ng-click="toggleLanguage()" class="panel-collapse"><span class="fa fa-{{iconAngle}}"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <p>Lorum ipsum</p>
                </div>
                <div class="panel-body">                                                                        
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Slogan</label>
                        <div class="col-md-6 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" ng-model="team().slogan"/>
                            </div>                                            
                            <span class="help-block">This is sample of text field</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Tags</label>
                        <div class="col-md-6 col-xs-12">                                                                                            
                            <tags-input class="bootstrap" ng-model="tags" placeholder="Add an e-mail"></tags-input>
                            <p>Model: {{tags}}</p>
                            <span class="help-block">Default textarea field</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">File</label>
                        <div class="col-md-6 col-xs-12">                                                                                                                                        
                            <input type="file" class="fileinput btn-primary" name="filename" id="filename" title="Browse file"/>
                            <span class="help-block">Input type file</span>
                        </div>
                    </div>
                    
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary pull-right" type="submit">Save</button>
                </div>
            </div>
            </form>
            
        </div>
    </div>        

    <div class="row">
        <div class="col-md-12">
            
            <form class="form-horizontal" name="form" ng-submit="changePassword(form)" novalidate>
            <div class="panel panel-default" ng-class="languageToggle">
                <div class="panel-heading">
                    <h3 class="panel-title">Change Passwords</h3>
                    <ul class="panel-controls">
                        <li><a href="#" ng-click="toggleLanguage()" class="panel-collapse"><span class="fa fa-{{iconAngle}}"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <p>Lorum ipsum</p>
                </div>
                <div class="panel-body">                                                                        
                    
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Current Password</label>
                        <div class="col-md-6 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                         mongoose-error/>
                            </div>                                            
                            <span class="help-block">This is sample of text field</span>
                            <p class="help-block" ng-show="form.password.$error.mongoose">{{ errors.other }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">New Password</label>
                        <div class="col-md-6 col-xs-12">                                            
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
                            </div>                                            
                            <span class="help-block">This is sample of text field</span>
                            <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">Password must be at least 3 characters.</p>
                        </div>
                    </div>

                    <p class="help-block"> {{ message }} </p>
                    
                </div>
                <div class="panel-footer">                                    
                    <button class="btn btn-primary pull-right" type="submit">Save</button>
                </div>
            </div>
            </form>
            
        </div>
    </div>    
    
</div>
<!-- END PAGE CONTENT WRAPPER -->

