<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Admin</a></li>
    <li class="active">Simulation</li>
</ul>
<!-- END BREADCRUMB -->
<div class="page-title">
    <h2>Simulation</h2><br>
    <!-- <div ng-repeat="gdp in economy track by gdp.control">
                                                            <a href="#" ng-click="showEconomy(gdp)">{{ gdp }}</a>
    </div> -->
</div>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dynamic Highcharts</h3>
                </div>
                <div class="panel-body">
                    <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
                </div>
            </div>
        </div>
    </div>
</div>

