<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active">Home</li>
</ul>
<!-- END BREADCRUMB -->
<div class="page-title">
    <h2>Home</h2>
</div>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dashboard</h3>
                </div>
                <div class="panel-body">
                    <img src="assets/img/logo.png" alt="Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <ul class="" ng-repeat="thing in awesomeThings">
            <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
</ul>
<form class="thing-form">
            <label>Syncs in realtime across clients</label>
            <p class="input-group">
            <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
            </span>
            </p>
</form> -->

